<form action="/register/login" name="formA" method="post">
    <input type="hidden" name="name" value="lhp">
    <div>
        <label for="fieldColor">Your favorite color</label>
        <input type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>