<!doctype html>
<html>
<head>
    <title>登录</title>
    <style>
        html{
            min-height: 100%;
        }
        body{
            background-image: url("/static/assets/img/wallpaper/wallpaper02.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100%;
        }
        .login-wrap{
            width: 350px;
            height: 300px;
            background-color: #fff;
            margin-left: auto;
            transform: translateY(50%);
            box-shadow: 0 4px 4px 5px rgba(20, 21, 21, 0.29);
            margin-top: 80px;
            margin-right: 100px;
        }
        .login-wrap h1{
            padding: 10px;
            text-align: center;

            border-bottom: 1px solid #ddd;
            background: linear-gradient(#b7cdd0, #f3cbc5 50%, #b74f3d);
        }
        .login-wrap form{
            padding: 30px;
        }
        .login-wrap .form-item{
            margin-bottom: 20px;
        }
        .login-wrap input {
            padding: 8px 10px;
            border:1px solid #ddd;
            width: 200px;
        }
    </style>
</head>
<body>
<div>
    <div class="login-wrap">
        <h1>登录</h1>
        <form action="/login" name="login" method="post">
            <div class="form-item">
                <label for="username">账号：</label>
                <input type="text" id="username" name="username" value="admin">
            </div>
            <div class="form-item">
                <label for="password">密码：</label>
                <input type="password" id="password" name="password" value="123456">
            </div>
            <div class="form-item text-center">
                <button type="submit" style="margin-top: 30px;width: 80px" class="btn btn-primary">登 录</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>