<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div>
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>{{error.stack}}</pre>
    </div>
</div>
</body>
</html>